*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body{
  color: #fff;
  background-color: #1b1b32;
  font-family: Lato;
  margin-top: 40px;
}


.App{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.apliacion_tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tareas_lista_principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}